*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.footer:after
{
  content: "";
  display: table;
  clear:both;
 
}
.footer
{
  height:100px;
}
#col1
{
  float: left;  
  padding:20px;
  width: 350px;
  height:200px;
  text-align:center;
  font-size: 19px;
  color:white;
  background-color:#333;
}
#col2
{
  float: left;  
  width: 900px;
  height:200px;
  text-align:center;
  color:white;
  background-color:#333;
}
#col2 h1
{
  text-align: center;
  padding: 10px;
}
#col2 h3
{
  padding-top: 110px;
}
#col3
{
  float: left;  
  padding:20px;
  width: 420px;
  height:200px;
  text-align:center;
  font-size: 20px;
  color:white;
  background-color:#333;
}
#col3 h2
{
  text-align:center;
}
#col3 h4
{
  text-align:center;
  font-size: 10;
}